/* Default styles for mobile first */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #47a7bf;
    padding: 10px 20px;
    padding: 10px 20px;
    min-height: 60px; 

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    display: none; /* changed from flex on 06/01*/
    flex-direction: column;
    justify-content: space-between; 
    width: 100%;

}
/*nav ul li:last-child{
    margin-right: 0;
}*/
nav ul.active {
    display: flex; /* Show nav links when active */
}

.active{
        display: flex;
}/* added lines 28-30 on 06/01*/


nav ul li {
    margin: 10px 0;
    
}

nav ul li a{
text-decoration: none;
color: white;
position: relative;
font-weight: normal;
font-size: 30px;
transition: color 0.3s, font-size 0.3s;

}

nav ul li a:hover {
    color: rgb(115, 55, 55); /* Change the color when hovering */
    font-weight: bold;
    font-size: 40px;
}

#name {
    text-align: center;
    font-size: 3em; /* Adjust size as needed */
    flex-grow: 1;
}

body {
    background-color: rgb(192, 195, 185);
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}
.hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
}
h1 {
    color: rgb(127, 16, 46);
    font-family: Arial;
    font-size: 24 px;
    font-weight: bold;
}


p {
    font-size: 20px; 
    font-weight: bold;
    color: blue;
}
h2 {
    color: rgb(85, 110, 134);
    font-size: 24px;
}

section {
    padding: 10px;
    margin-top: 50px;
}

section + section {
    margin-top: 50px;

}
h1.custom-align {
    text-align: center;

}

h2.custom-align {
    text-indent: 20px; 
}


.image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}
#picture {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px ;
    border-image: linear-gradient(to right, rgba(148, 186, 164, 0.5), rgba(151, 165, 170, 0.25), rgba(0, 0, 0, 0)) ; /* Apply gradient border
}

/* Navigation links */
.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

/* Tablet */
@media screen and (min-width: 768px) {
nav ul {
    flex-direction: row; /* Tablet: Nav items in row */
    display: flex;
}
.hamburger{
     display: none; /*hide humberger screen when larger*/
}
h1, h2{
        font-size: 24px;
        color: rgb(218, 128, 17);
    }

    
    #experience li {
        padding: 20px;
        margin: 6px;
        background-color: yellow;
    }

    #connect {
        background-color: #ddd;
    }

    #name {
        font-size: 3em; /* Change font size */
        font-style: italic; /* Change font style */
    }

    #about p {
        font-size: 18px; /* Increase font size */
        line-height: 1.6; /* Change line height */
    }
    nav ul li a {
        font-size: 1.1em; /* Increase font size */
        letter-spacing: 1px; /* Change letter spacing */
    }
}

/*desktop */
@media screen and (min-width: 1024px) {
    

    /* Change font size and color for headings */
    h1{
        h1 {
            font-size: 36px;
            color: rgb(142, 241, 28);
        }
    
        p {
            font-size: 18px;
            color: green;
        }
    
        section {
            padding: 300px;/* 06/01 change*/
            margin-top: 200px;
        }
    }
}

}